In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/Final_Dataset_Transformdata20210720.csv')

In [3]:
df.head()

                           order_id  ... review_score
0  00061f2a7bc09da83e415a52dc8a4af1  ...            5
1  0014ae671de39511f7575066200733b7  ...            5
2  0046176ff0dbc2a178b7885355dfbb71  ...            5
3  008819c6d5f6da6fa5cd9d50ca927cf4  ...            3
4  00975e709cd12c34d3bd44e4a7f7a876  ...            5

[5 rows x 12 columns]

In [4]:
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])

In [5]:
df['year'] = df['order_delivered_customer_date'].dt.year

In [6]:
df.head()

                           order_id  ...    year
0  00061f2a7bc09da83e415a52dc8a4af1  ...  2018.0
1  0014ae671de39511f7575066200733b7  ...  2017.0
2  0046176ff0dbc2a178b7885355dfbb71  ...  2018.0
3  008819c6d5f6da6fa5cd9d50ca927cf4  ...  2018.0
4  00975e709cd12c34d3bd44e4a7f7a876  ...  2017.0

[5 rows x 13 columns]

In [7]:
df2 = df[['year','geolocation_lat','geolocation_lng','payment_value','product_category_name']]

In [8]:
df2.head()

     year  geolocation_lat  ...  payment_value  product_category_name
0  2018.0       -23.556398  ...          68.87           beleza_saude
1  2017.0       -23.491295  ...          30.60              telefonia
2  2018.0       -23.569178  ...         137.72         consoles_games
3  2018.0       -23.547795  ...          62.65     relogios_presentes
4  2017.0       -23.557507  ...          94.66             cool_stuff

[5 rows x 5 columns]

In [9]:
decimals = 2

df2['geolocation_lat'] = df2['geolocation_lat'].apply(lambda x: round(x,decimals))
df2['geolocation_lng'] = df2['geolocation_lng'].apply(lambda x: round(x,decimals))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
df2.head()

     year  geolocation_lat  ...  payment_value  product_category_name
0  2018.0           -23.56  ...          68.87           beleza_saude
1  2017.0           -23.49  ...          30.60              telefonia
2  2018.0           -23.57  ...         137.72         consoles_games
3  2018.0           -23.55  ...          62.65     relogios_presentes
4  2017.0           -23.56  ...          94.66             cool_stuff

[5 rows x 5 columns]

In [11]:
df_grouped = df2.groupby(['year','geolocation_lat','geolocation_lng','product_category_name']).sum()

In [12]:
df_grouped

                                                               payment_value
year   geolocation_lat geolocation_lng product_category_name
2016.0 -23.85          -46.70          perfumaria                     273.77
       -23.61          -46.51          informatica_acessorios         134.91
       -23.58          -46.69          moveis_decoracao               298.92
                                       pet_shop                       127.86
                       -46.68          fraldas_higiene                150.99
...                                                                      ...
2018.0 -23.40          -46.58          livros_interesse_geral          48.23
                                       utilidades_domesticas          278.14
       -23.38          -46.57          eletronicos                     38.12
                                       relogios_presentes             195.36
                                       telefonia                      240.12

[10142 rows x 1 columns]

In [14]:
df_grouped.to_csv('dataset.csv',sep=',')